.chest-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  color: white;
  display: flex;
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.6;
  }
  .content {
    display: flex;
    justify-content: space-around;
    width: 40%;
    height: 100%;
  }
  .left, .right {
    width: 50%;
    border-left: 2px solid white;
    border-right: 2px solid white;
    position: relative;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1, div {
      position: relative;
      font-weight: bold;
    }
    h1 {
      padding-bottom: 5rem;
      font-size: 3rem;
      border-bottom: 2px solid #ccc;
    }
    div {
      color: #ccc;
      font-size: 2.2rem;
      transition: .3s;
      &:not(:first-child):hover {
        color: white;
        cursor: pointer;
      }
    }
    .background {
      opacity: 0.8;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
  .left {
    width: 40%;
    .background {
      background-color: grey;
    }
  }
  .right {
    width: 50%;
    .background {
      background-color: black;
    }
    .items {
      div {
        cursor: pointer;
        transition: .3s;
        &:hover {
          color: white;
        }
      }
    }
  }
  .status {
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    border-top: 2px solid white;
    opacity: 0.7;
    padding: 1.5rem 3rem 5rem;
    display: flex;
    .info {
      display: flex;
      margin-left: 1.5rem;
      .icon {
        padding: 0.2rem 0.5rem;
        background-color: black;
        border: 1px solid white;
        border-radius: 10%;
        font-size: 1.6rem;
      }
      .text {
        margin-left: 0.5rem;
        font-size: 2.2rem;
      }
    }
    .character {
      margin-left: auto;
      display: flex;
      > div {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        > div {
          font-size: 3rem;
          margin-left: 1rem;
          &:first-child {
            font-size: 2rem;
            color: grey;
          }
        }
      }
      .health {
        background-color: darkred;
        width: 15rem;
        height: 2rem;
        align-self: center;
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
        position: relative;
        box-sizing: border-box;
        margin-left: 6rem;
        .edge {
          width: 1.6rem;
          height: 1.6rem;
          background-color: black;
          margin: 0;
          position: absolute;
          clip-path: polygon(100% 50%, 0 0, 0 100%);
          z-index: 3;
          top: 50%;
          transform: translateY(-50%);
          padding: 0;
          &.left {
            left: -1.6rem;
            transform: rotate(180deg) translateY(50%);
          }
          &.right {
            right: -1.6rem;
          }
          &--white {
            width: 2.2rem;
            height: 2.2rem;
            background-color: grey;
            z-index: 2;
            &.left {
              left: -2.2rem;
              transform: rotate(180deg) translateY(50%);
            }
            &.right {
              right: -2.2rem;
            }
          }
        }
      }
    }
  }
  .item-info {
    position: relative;
    width: 30%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    .wrapper {
      img {
        width: 70%;
        display: block;
        margin: 0 auto 5rem;
      }
      .about {
        position: relative;
        padding: 5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        div {
          position: relative;
        }
        .background {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          opacity: 0.4;
          background-color: black;
          border: 2px solid white;
        }
        > div {
          font-size: 2rem;
          color: grey;
          display: flex;
          span {
            font-size: 3rem;
            color: white;
            display: block;
            margin-left: .5rem;
            font-weight: bold;
          }
        }
        .name {
          font-size: 3rem;
          text-transform: uppercase;
          border-bottom: 2px solid grey;
          grid-column: 1/-1;
          color: white;
          font-weight: bold;
          display: flex;
          justify-content: center;
          margin-bottom: 1rem;
        }
      }
      .description {
        grid-column: 1/-1;
        display: flex;
        justify-content: center;
      }
    }
  }
}