.chest-modal {
  position: absolute;
  left: 0;
  right: 60%;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  .right {
    width: 50%;
    background-color: black;
    opacity: 0.9;
    border-left: 1px solid white;
  }
  .left {
    width: 40%;
    background-color: grey;
    opacity: 0.9;
  }
}