.loader {
  background-color: #222;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  .progress {
   border: 1px solid gold;
   border-radius: 50%;
   color: gold;
   width: 12.5rem;
   height: 12.5rem;
   font-size: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
  }
}